@import url(//fonts.googleapis.com/css?family=Lato:300:400,600,700);
:root {
  --color-primary: #00A2B8;
  --color-primary--rgb: 0, 162, 184;
  --color-secondary: #8f8c83; 
  --color-var-1: #705a51; 
  --color-var-2: #e76f51; 
  --color-var-3: #f4a261;
}

body {
  margin: 0;
  color: #06181a;
  background-color: var(--color-primary);
  font-family: "Lato", sans-serif;
}

.wrap {
  background-color: white;
}

.page-header .container,
.page-content .container,
.page-footer .container {
  padding: 0 1rem;
}
.page-top {
  background-color: rgba(var(--color-primary--rgb), 0.5);
  padding: .5rem 1rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.page-header,
.page-content {
  background-color: white;
}
br[aria-hidden=true] {display:none}
h1 {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
}
h1 small, h1 strong, h1 span {
  display: block;
  font-weight: 400;
  letter-spacing: 1px;
}
h1 small,
h1 span {
  font-size: .4em;
}
h1 strong {
}
.lead {
  font-weight: 600;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
    align-items: flex-start;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

p {
  letter-spacing: 1px;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-top .flex {
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-top .flex {
    flex-direction: row;
    justify-content: space-between;
  } 
}

.page-top a,
.page-top a:visited {
  color: #06181a;
  text-decoration: none;
  letter-spacing: 1px;
}

.page-top a:hover,
.page-top a:focus,
.page-top a:active {
  text-decoration: underline;
}

.page-content {
  min-height: 20vh;
  padding-top: 1rem;
}

.banner {
  position: relative;
  background-color: var(--color-var-3);
  /* color: white; */
  max-width: 960px;
  margin: 0 auto 1rem;
  flex-direction: column;
}


.banner-image img {
  display:block;
  width: 100%;
  height: auto;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 768px) {
  .banner {
    flex-direction: row;
  }
  .banner-image {
    width: 40%;
  }
  .banner-content {
    width: 60%;
    padding: 0;
  }
}
.banner-content h1 {
  margin: 0;
}
.banner-content .lead {
  font-size: 1.25rem;
}

.banner .waves-container {
  background: transparent;
  position: absolute;
  z-index: 1;
}

.page-footer .waves-container {
  background-color: white;
}
.page-footer .waves {
  position: relative;
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  margin-bottom: -7px;
  /*Fix for safari gap*/
}
@media (min-width: 768px) {
  .page-footer .waves {
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
  }
}

#wave-1 {
  fill: rgba(var(--color-primary--rgb), 0.7);
}

#wave-2 {
  fill: rgba(var(--color-primary--rgb), 0.5);
}

#wave-3 {
  fill: rgba(var(--color-primary--rgb), 0.3);
}

#wave-4 {
  fill: rgba(var(--color-primary--rgb), 1);
}

/* Animation */
.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}