@import url(//fonts.googleapis.com/css?family=Lato:300:400,500,600,700);
:root {
  --color-primary: #00A2B8;
  --color-primary--rgb: 0, 162, 184;
  --color-secondary: #f9c295; 
  --color-copy: #06181a;
  --color-var-1: #705a51; 
  --color-var-2: #e76f51; 
  --color-var-3: #f4a261;
  --color-link: #007E8F;
}

body {
  margin: 0;
  color: var(--color-copy);
  background: white;
  font-family: "Lato", sans-serif;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}
a, a:visited {
  color: var(--color-link);
}
a:hover,
a:focus,
a:active {
  background: var(--color-secondary);
  color: var(--color-copy);
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link {
  color: var(--color-secondary);
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link.active:hover, 
.navbar-light .navbar-nav .show>.nav-link:hover {
  cursor: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.container-small {
  max-width: 720px;
}

.strip {
  background: var(--color-secondary);
  padding: 1rem;
}

.page-top {
  background-color: rgba(var(--color-primary--rgb), 0.5);
  padding: .5rem 1rem;
  text-align: center;
}
@media (min-width: 576px) {
  .page-top {
    text-align: initial;
  }
}
.page-top span {
  display: inline-block;
  padding: 0 1rem;
}
@media (min-width: 576px) {
  .page-top span {
    padding: 0;
  }
}

.page-header,
.page-content {
  background-color: white;
}
.d-none {display:none}
h1 {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
}
h1 small, h1 strong, h1 span {
  font-weight: 400;
  letter-spacing: 1px;
}
h1 small {
  font-size: .3em;
}
h1 span {
  font-size: .4em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}
.textbox {
  max-width: 78ch;
  margin: 0 auto;
  padding: 1rem;
}
p {
  letter-spacing: 1px;
  max-width: 78ch;
  line-height: 1.25;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.page-top .flex {
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-top .flex {
    flex-direction: row;
    justify-content: space-between;
  } 
}

.page-top a,
.page-top a:visited {
  color: var(--color-copy);
  text-decoration: none;
  letter-spacing: 1px;
}

.page-top a:hover,
.page-top a:focus,
.page-top a:active {
  text-decoration: underline;
}

.page-content {
  min-height: 20vh;
  padding-top: 1rem;
}

.banner {
  position: relative;
  background-color: var(--color-secondary);
  max-width: 960px;
  margin: 0 auto 1rem;
}

.banner-image img {
  display:block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .banner-image {
    width: 40%;
  }
  .banner-content {
    width: 60%;
    padding: 0;
  }
}
.banner-content h1 {
  margin: 0;
}
.banner-content .lead {
  font-size: 1.25rem;
}

.banner .waves-container {
  background: transparent;
  position: absolute;
  z-index: 1;
}

.section-testimonials {
  background-color: var(--color-secondary);
}
.section-testimonials figure {
  margin: 0;
  position: relative;
  z-index:1;
}
@media (min-width: 768px) {
  .section-testimonials figure {
    padding-left: 8rem;
  }
}
.section-testimonials figure::before {
  content: open-quote;
  font-size: 16rem;
  position: absolute;
  color: #f7cca9;
  font-family: Georgia, serif;
  z-index:-1;
  left:0;
  top:-4rem;
  margin:0;
  padding:0;
}
.section-testimonials .blockquote {
  font-size: 1rem;
}
.section-testimonials .blockquote-footer {
  margin-bottom: 0;
  color: var(--color-copy);
}

.section-keywords li {
  display: inline-block;
  position: relative;
  font-weight: 500;
}
.section-keywords li + li::before {
  content: ' ~ ';
}

.page-footer {
  background-color: var(--color-primary);
  margin-top: 1rem;
}
.waves-container {
  background-color: white;
}
.waves {
  position: relative;
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  margin-bottom: -7px;
  /*Fix for safari gap*/
}
@media (min-width: 768px) {
  .waves {
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
  }
}

#wave-1 {
  fill: rgba(var(--color-primary--rgb), 0.7);
}

#wave-2 {
  fill: rgba(var(--color-primary--rgb), 0.5);
}

#wave-3 {
  fill: rgba(var(--color-primary--rgb), 0.3);
}

#wave-4 {
  fill: rgba(var(--color-primary--rgb), 1);
}

/* Animation */
.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}