@import url(//fonts.googleapis.com/css?family=Lato:300:400,500,600,700);

$color-primary: #00a2b8; //#009ddb;
$color-primary-darken: #0191a4;
$color-primary--rgb: 0, 162, 184;
$color-secondary: #f9c295;
$color-copy: #06181a;
$color-var-1: #705a51;
$color-var-2: #e76f51;
$color-var-3: #f4a261;
$color-link: #007e8f;

body {
  margin: 0;
  color: $color-copy;
  background: white;
  font-family: 'Lato', sans-serif;
}

.bg-primary {
  background-color: $color-primary !important;
}
a,
a:visited {
  color: $color-link;
}
a:hover,
a:focus,
a:active {
  background: $color-secondary;
  color: $color-copy;
}
.navbar-light .navbar-nav {
  .nav-link {
    color: white;
  }
  .nav-link.active,
  .show > .nav-link {
    color: $color-secondary;
    font-weight: 600;
  }
  .nav-link.active:hover,
  .show > .nav-link:hover {
    cursor: none;
    background-color: $color-primary;
    color: $color-secondary;
  }
}

.page-top {
  background-color: rgba($color-primary, 0.5);
  padding: 0.5rem 0;
  .contact-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
    @media (min-width: 992px) {
      justify-content: space-between;
    }
    .fas {
      display: none;
      @media (min-width: 768px) {
        display: inline-flex;
        margin-right: 0.25rem;
        color: rgba($color-copy, 0.8);
        &.fa-envelope {
          margin-top: 2px;
        }
      }
    }
  }
  span {
    display: inline-flex;
    align-items: center;
    padding-right: 1rem;
    @media (min-width: 992px) {
      padding-right: 0;
    }
  }
  .flex {
    flex-direction: column;
    @media (min-width: 768px) {
      & {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
    @media (min-width: 992px) {
      display: none;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 33, 33, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  a,
  a:visited {
    color: $color-copy;
    text-decoration: none;
    letter-spacing: 1px;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}
.navbar {
  padding: 0;
  background-color: $color-primary-darken;
  > .navbar-collapse {
    padding: 0.5rem 1rem;
  }
}
.container-small {
  max-width: 720px;
}

.strip {
  background: $color-secondary;
  padding: 1rem;
}

.page-header,
.page-content {
  background-color: white;
}
.d-none {
  display: none;
}
h1 {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  small,
  span {
    font-weight: 400;
  }
  small {
    font-size: 0.3em;
  }
  span {
    font-size: 0.4em;
  }
  @media (min-width: 768px) {
    & {
      font-size: 3rem;
    }
  }
  @media (min-width: 992px) {
    & {
      font-size: 4rem;
    }
  }
}

.textbox {
  max-width: 78ch;
  margin: 0 auto;
  padding: 1rem;
}
p {
  letter-spacing: 1px;
  max-width: 78ch;
  line-height: 1.25;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

.page-content {
  min-height: 20vh;
  padding-top: 1rem;
}

.banner {
  position: relative;
  background-color: rgba($color-secondary, 0.6);
  max-width: 960px;
  margin: 0 auto 1rem;

  @media (min-width: 992px) {
    margin-top: 1rem;
    border-radius: 1rem;
    overflow: hidden;
  }
}

.banner-image img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .banner-image {
    width: 40%;
  }
  .banner-content {
    width: 60%;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .banner-image {
    width: 50%;
  }
  .banner-content {
    width: 50%;
    padding: 0;
  }
}
.banner-content h1 {
  margin: 0;
}
.banner-content .lead {
  font-size: 1.25rem;
}

.section-testimonials {
  background-color: rgba($color-secondary, 0.6);

  figure {
    margin: 0;
    position: relative;
    z-index: 1;
    &::before {
      content: open-quote;
      font-size: 16rem;
      position: absolute;
      color: #f7cca9;
      font-family: Georgia, serif;
      z-index: -1;
      left: 0;
      top: -4rem;
      margin: 0;
      padding: 0;
    }
    @media (min-width: 768px) {
      padding-left: 8rem;
    }
  }
  .blockquote {
    font-size: 1rem;
  }
  .blockquote-footer {
    margin-bottom: 0;
    color: $color-copy;
  }
}

.section-keywords li {
  display: inline-block;
  position: relative;
  font-weight: 500;
  & + li::before {
    content: ' ~ ';
  }
}

.page-footer {
  background-color: $color-primary-darken;
  color: white;
  margin-top: 1rem;
  font-size: 0.875rem;
}
.waves-container {
  background-color: white;
}
.waves {
  position: relative;
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  margin-bottom: -7px;
  // Fix for safari gap

  @media (min-width: 768px) {
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
  }
}

#wave-1 {
  fill: rgba($color-primary, 0.7);
}

#wave-2 {
  fill: rgba($color-primary, 0.5);
}

#wave-3 {
  fill: rgba($color-primary, 0.3);
}

#wave-4 {
  fill: $color-primary-darken;
}

/* Animation */
.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)
    infinite;
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  &:nth-child(1) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
  }
  &:nth-child(2) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
  }
  &:nth-child(3) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
  }
  &:nth-child(4) {
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
  }
}

@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
